.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.h2 {
  display: block;
  margin: 20 0;
}

.card {
  display: block;
  border: 1px solid rgb(230,230,230);
  box-shadow: 0 0 3px gray;
  border-radius: 3px;
  margin: 5px;
  padding: 20px;
  width: 200px;
}

.card img {
  width: 100px;
  height: 100px;
}
